{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome! Thank you for participating in this study!
{% endblock %}


{% block content %}
<br>
    <p> All your decisions and answers will remain confidential and anonymous.  </p>

    <p>It is essential to participate via one of these three browsers: <b>Google Chrome, Microsoft Edge, Firefox.</b>
        If you are currently using a different browser, either quit the study or close your current browser and follow the link on Google Chrome, Microsoft Edge, or Firefox instead.</p>

    <p> Please also ensure you have a stable and fast internet connection and power supply throughout the study. You need a high bandwidth so that the study runs smoothly. 
    If the connection is interrupted and you drop out of the study, you will likely not be able to continue participating in the study and therefore will not be paid.
    </p>

    <br>
    <p> <b> Structure of the study:</b> </p>

    <p>
        During this study, you will answer a questionnaire which will take about 20 minutes.
        Unlike what you may be used to not only your own decisions but also the decisions of other participants might determine your earnings.
        Your total earnings will be a fixed payment of 4 USD for answering the questionnaire plus potentially an additional payment depending
        on another participants' decision that may vary between 0 and 10 USD.
    </p>

    <p> You will receive your earnings within ten days after completion of the study via your Prolific account. </p>

    </p>
{% next_button %}

{% endblock %}